:root {
  font-family: Arial, Helvetica, sans-serif;

  --orange: #FF6324;
  --orange_light: #FF6F3C;
  --black: #171E16;
  --white: #FFF9F6;
  --beige: #F1E3DB;

  --s_2: .2rem;
  --s_1: .5rem;
  --s1: 1rem;
  --s2: 1.2rem;
  --s3: 1.5rem;
  --s4: 2rem;

  --fs-s: .8rem;
  --fs-m: 1rem;
  --fs-l: 1.5rem;
  --fs-xl: 2rem;
  --fs-xxl: 2.5rem;

  color: var(--black);
  background-color: var(--white);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  max-width: 100%;
  line-height: 1.4;
}



.keyword__whitebg {
  color: var(--orange);
  font-weight: bold;
}

.keyword__darkbg {
  color: var(--orange_light);
  font-weight: bold;
}

.elegant {
  font-family: Gwendolyn;
  font-size: var(--fs-xxl);
}

.elegantBig {
  font-family: Gwendolyn;
  font-size: 6rem;
}

.elegantSmall {
  font-family: Gwendolyn;
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

#heroimg {
  display: grid;
  grid-template-columns: 2fr 0.5fr 2fr 1fr;
  grid-template-rows: 2fr 3fr 3fr 3fr;
}

.heroimg__title {
  grid-column: 1/span 4;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: var(--fs-m);
}

.heroimg__photo1 {
  grid-column: 1/span 3;
  grid-row: 2;
  display: flex;
  align-self: center;
}

.heroimg__photo2 {
  grid-column: 1/span 2;
  grid-row: 3;
  display: flex;
  align-self: center;
}

.heroimg__text1 {
  grid-column: 3/span 2;
  grid-row: 3;
  display: flex;
  align-items: center;
  padding: var(--s1);
}

.heroimg__text2 {
  grid-column: 1;
  grid-row: 4;
  display: flex;
  justify-self: center;
  align-self: center;
  align-items: center;
  text-align: center;
  max-width: 89px;
  flex-direction: column;
}

.heroimg__text2::after {
  content: "";
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: var(--s1) solid var(--orange);
  width: 0;
  margin: var(--s_2);
}

.heroimg__photo3 {
  grid-column: 2/span 3;
  grid-row: 4;
  display: flex;
  align-self: center;
}

#section1 {
  background-color: var(--black);
  color: var(--white);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.section1__title {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  grid-row: 1;
  grid-column: 1;
  margin-left: 3.5rem;
  margin-top: -0.75rem;
}

.section1__text1,
.section1__text2 {
  padding: var(--s1);
}

.section1__text1 {
  grid-column: 1;
  grid-row: 1;
}

.section1__text2,
.section1__img {
  grid-column: 1;
  grid-row: 2;
}

#section2 {
  background:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url("./assets/img/png/map.png") center/cover no-repeat;
}

.section2__text {
  padding: 4rem var(--s1);
}


.section3__title,
.section3__explanation {
  background-color: var(--black);
  padding: var(--s_1) var(--s1);
}

.section3__title {
  color: var(--orange_light);
  font-weight: bold;
  padding-top: var(--s1);
}

.section3__explanation {
  color: var(--white);
  padding-bottom: var(--s1);
}

.section3__list-item {
  background-color: var(--orange_light);
  margin: var(--s2) var(--s1);
  padding: var(--s1);
}

.section3__list-item::before {
  content: "• •\A• •\A• •";
  font-size: var(--s_1);
  color: var(--black);
  margin-right: var(--s_1);
  letter-spacing: 0.2px;
  white-space: pre;
  display: inline-block;
  vertical-align: middle;
  line-height: 0.6;
}

.section3__info {
  background-color: var(--beige);
  padding: var(--s1);
  margin-left: var(--s3);
}

.info__button {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  padding: var(--s_1);
  margin-top: var(--s1);
}

.section4__text1,
.section4__text2 {
  color: var(--white);
  padding: var(--s_1) var(--s3);
}

.section5__text1,
.section5__text2 {
  padding: var(--s_1) var(--s1);
}

.section5__word1,
.section5__word2 {
  color: var(--white);
  opacity: 35%;
  letter-spacing: 0.76rem;
  text-transform: uppercase;
}

#section6 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 4fr 2fr 2fr;
}

.section6__img {
  grid-column: 1;
  grid-row: 1/span 3;
}

.section6__text1 {
  grid-column: 2;
  grid-row: 1;
}

.section6__text2 {
  grid-column: 2;
  grid-row: 2;
}

.section6__button {
  grid-column: 2;
  grid-row: 3;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}